<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>World's Worst Mario Game</title>
</head>

<body>
    <h1>{{ marioname }}</h1>
    <h2>Transitions</h2>
    <ul>
        {% for transition in transitions %}
        <li><a href="/transition/{{ transition }}">{{ transition }}</a></li>
        {% endfor %}
    </ul>
    <h2>Items</h2>
    <ul>
        {% for item in items %}
        <li><a href="/transition/item/{{ item }}">{{ item }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>